[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multibreakeR"]
	path = multibreakeR
	url = https://github.com/loicym/multibreaker
